---
import Layout from "@/layouts/Layout.astro";
import { ResetPasswordForm } from "@/components/auth/ResetPasswordForm";
import { Card, CardHeader, CardTitle, CardDescription, CardContent } from "@/components/ui/card";

export const prerender = false;
---

<Layout title="Resetowanie hasła">
  <div class="container mx-auto py-8 max-w-md">
    <Card>
      <CardHeader>
        <CardTitle>Resetowanie hasła</CardTitle>
        <CardDescription> Wprowadź nowe hasło do swojego konta moderatora. </CardDescription>
      </CardHeader>
      <CardContent>
        <ResetPasswordForm client:load />
      </CardContent>
    </Card>
  </div>
</Layout>
